/* BASE STYLES */

html {
    background-color: #151425;
    background-image: linear-gradient(to bottom right, #b30077, #ff470f);
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    min-height: 100vh;
    min-width: 300px;
    overflow-x: hidden;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

a {
    color: currentColor;
    cursor: pointer;
    text-decoration: none;
}




/* SHARED STYLES */

.avatar__shadow,
.avatar__image,
.hero {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.contact-box__profession,
.button {
    letter-spacing: 0.3em;
    text-transform: uppercase;
}

.button,
.social a {
    transform-origin: center;
    transition-duration: 100ms;
}



/* SPECIFIC STYLES */


/* hero */

.hero {
    background-image: url("../images/warsaw.jpg");
    background-position: center;
    background-size: cover;
    opacity: 0.2;
    position: fixed;
}




/* contact box */

.contact-box {
    display: flex;
    position: relative;
    min-height: 100vh;
}

.contact-box__side {
    max-height: 20rem;
    max-width: 20rem;
}

.contact-box__about {
    max-width: 27rem;
}

.contact-box__name {
    font-family: 'Bitter', serif;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.125;
    margin-bottom: 0.5rem;
}

.contact-box__profession {
    color: #ffe479;
    font-size: 0.75rem;
}

.hr {
    background-image: linear-gradient(to right, #ff470f, #ffe479);
    border: none;
    content: "";
    height: 1px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    transform-origin: center left;
    width: 4rem;
}

.contact-box__description {
    font-size: 1.5rem;
}

.contact-box__contact {
    display: inline-block;
    margin-top: 1.5rem;
    vertical-align: top;
}


/* button */

.button {
    background-color: rgba(255, 71, 15, 0.1);
    background-image: none;
    border-image: linear-gradient(to right, #fd902f, #ffe479);
    border-image-slice: 1;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    color: #ffe479;
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1;
    padding: 1.25em 2em;
}

.button:hover {
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    transform: scale(1.02) translateY(-4px);
}



/* avatar */

.avatar {
    position: relative;
    width: 100%
}

.avatar__shadow {
    border-radius: 40192px;
    background-image: radial-gradient(#000 0%, rgba(0, 0, 0, 0) 70%);
    position: absolute;
    top: 10%;
}

.avatar__image {
    border-radius: 40192px;
    position: relative;
}


/* 4. Responsiveness */

@media screen and (max-width: 799px) {
    .contact-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem 3rem;
    }
    .contact-box__side {
        width: 100%;
        margin-bottom: 3rem;
    }
}

@media screen and (min-width: 800px) {
    .contact-box {
        align-items: center;
        justify-content: space-around;
        justify-content: space-evenly;
        padding: 4rem;
    }
    .contact-box__side {
        flex-grow: 0;
        flex-shrink: 0;
        height: 20rem;
        margin-left: 4rem;
        order: 2;
    }
    .contact-box__about {
        flex-grow: 1;
        flex-shrink: 1;
    }
}